curl 'https://foobar.slack.com/api/emoji.adminList?_x_id=xxxxxxxx-yyyyyyyyyy.zzz&slack_route=xxxxxxxxx&_x_version_ts=noversion&fp=3b&_x_num_retries=0' \
  -H 'accept: */*' \
  -H 'cache-control: no-cache' \
  -H 'content-type: multipart/form-data; boundary=----WebKitFormBoundaryXXXXXXXXXXXXXXXX' \
  -b 'ssb_instance_id=kkkkkkkk-llll-mmmm-bbbb-vvvvvvvvvvvv; BcgnabaNyregObkPybfrq=2025-09-28G22:35:11.919M; o=.6266e3c6912b66d9a9b0cd50d001e58e; fubja_ffo_erqverpg_cntr=1; hgz=%7O%22hgz_fbhepr%22%3N%22va-cebq%22%2P%22hgz_zrqvhz%22%3N%22vacebq-phfgbzvmr_yvax-fynpx_zrah-pyvpx%22%7Q; yp=1759108704; BcgnabaPbafrag=vfTcpRanoyrq=0&qngrfgnzc=Ghr+Frc+30+2025+02%3N28%3N53+TZG%2O1000+(Nhfgenyvna+Rnfgrea+Fgnaqneq+Gvzr)&irefvba=202402.1.0&oebjfreTcpSynt=0&vfVNOTybony=snyfr&ubfgf=&pbafragVq=opn1s4p0-57p6-437p-no5p-n9446q2p46no&vagrenpgvbaPbhag=2&vfNabaHfre=1&ynaqvatCngu=AbgYnaqvatCntr&tebhcf=1%3N1%2P2%3N0%2P3%3N0%2P4%3N0&trbybpngvba=QR%3OvU&NjnvgvatErpbafrag=snyfr; q-f=1759209603; q=kbkq-kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk%llllllllllllllllllll%lllllllllllllllllllllllll%2bbbbbbbbbbbbbbb%vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv%vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv%2Bhhhhhhhhhhhhhhhhhhhhhhh%2F; x=hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh.1759210687' \
  -H 'origin: https://foobar.slack.com' \
  -H 'pragma: no-cache' \
  --data-raw $'------WebKitFormBoundaryXXXXXXXXXXXXXXXX\r\nContent-Disposition: form-data; name="token"\r\n\r\nxoxc-xxxxxxxxxxxx-yyyyyyyyyyyyy-zzzzzzzzzzzzz-ssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss\r\n------WebKitFormBoundaryxxxxxxxxxxxxxxxx\r\nContent-Disposition: form-data; name="page"\r\n\r\n1\r\n------WebKitFormBoundaryIIIIIIIIIIIIIIII\r\nContent-Disposition: form-data; name="count"\r\n\r\n100\r\n------WebKitFormBoundaryYYYYYYYYYYYYYYYY\r\nContent-Disposition: form-data; name="_x_reason"\r\n\r\ncustomize-emoji-new-query\r\n------WebKitFormBoundaryYYYYYYYYYYYYYYYY\r\nContent-Disposition: form-data; name="_x_mode"\r\n\r\nonline\r\n------WebKitFormBoundaryIIIIIIIIIIIIIIII--\r\n'
